.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem;
}

.container {
    width: 100%;
    max-width: 40rem;
    padding: 1rem;
    background: #121212;
    border-radius: 0.4rem;
}

.carregando {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #acacac;
    gap: 1rem;
}

.headerMenu {
    display: block;
    width: 100%;
    height: auto;
    background: #121212;
    box-shadow: 0 0 0 1px #212121;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #acacac;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.repositorio {
    text-decoration: none;
    color: #acacac;
    text-decoration: underline;
}

.skeleton {
  display: block;
  width: 40rem;
  height: 100vh;
  background: #121212;
  border-radius: 0.4rem;

  background: linear-gradient(       
    to right,
    rgba(255, 255, 255, 0),
    rgba(79, 79, 79, 0.2) 50%,
    rgba(56, 55, 55, 0) 80%
  ),
  #121212;
  background-repeat: repeat-y;        
  background-size: 100px 400px;       
  background-position: 0 0;  
  animation: shine 2s infinite linear;
}

@keyframes shine {	
    to {
      background-position: 100% 0, /* move highlight to right */ 0 0;
    }
  }