.header {
    background: var(--theme-color);
    font-size: 1rem;
    color: #f2f2f2;
    min-height: 4rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0.8rem;
    gap: 1rem;
}

.buttton {
    width: 10rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

@media (max-width: 40rem) {
    .header {
        flex-direction: column-reverse;
    }
}