.video {
    border-radius: 1rem;
    margin: 1.2rem 0 0.5rem;
    width: 519px;
    height: 300px;
    padding: 10px;
}

.title {
    font-size: 1.3rem;
    text-align: center;
    color: #f2f2f2;
}

@media (max-width: 40rem) {
    .video {
        width: 470px;
        height: 274px;
    }    
}