.footer {
    width: 100%;
    background: var(--color-01);
    color: #acacac;
    text-align: center;
    padding: 2rem;
}

.logo {
    height: 100px;
    width: auto;
}

.text {
    margin: 0.5rem 0;
    font-size: 1rem;
}