* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #acacac;
    text-decoration: underline;
}

.btn-default {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    background:  #c80303;
    color: #f2f2f2;
    text-decoration: none;
}

.btn-default:hover,
.btn-default:focus {
    background: #c92605;
    color: #f2f2f2;
}

.theme-light {
    --theme-color: #811b07;
    --theme-primary: #ffae9e;
    --theme-background: #e8e8e8;
    --theme-text-color: #000000;
    --theme-color-primary: #ff8965;
}

.theme-dark {
    --theme-color: #181818;
    --theme-primary: #121212;
    --theme-background: #212121;
    --theme-text-color: #f2f2f2;
    --theme-color-primary: #ed3838;
}

