* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #acacac;
    text-decoration: underline;
}

.btn-default {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    background:  #c80303;
    color: #f2f2f2;
    text-decoration: none;
}

.btn-default:hover,
.btn-default:focus {
    background: #c92605;
    color: #f2f2f2;
}

.theme-light {
    --color-01: #811b07;
    --color-02: #ffae9e;
    --color-03: #e8e8e8;
    --color-04: #000000;
    --color-05: #ff8965;
    --color-06: #a93636;
    --color-07: #882c2c;
}

.theme-dark {
    --color-01: #181818; 
    --color-02: #121212; 
    --color-03: #212121;
    --color-04: #f2f2f2; 
    --color-05: #ed3838; 
    --color-06: #303030; 
    --color-07: #242424; 
}

